
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
	background-color: #ffebdb;
}

h1 {
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	margin-top: 10%;
	color: #57007f;
}

p.help{
	text-align: right;
	margin: 50px;
	font-size: 50px;
	font-style: oblique;
	color: gray;
}

p.main{
	text-align: center;
	padding: 0 25%;
}

button{
	display: block;
	margin: 10px auto;
	padding: 20px;
	background-color: orange;
	border-radius: 10px;
}

ul{
	text-align: center;
	font-size: 30px;
	padding: 40px;
}
li{
	padding: 5px;
}

form{
	margin: 0 auto;
	width: 50%;
}

form>*{
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-style: italic;
}

input {
	padding: 10px;
	font-size: 30px;
}
